<head>
  <meta charset="utf8">
</head>
<body>
  <header>
    <hgroup>
      <h1><%= @title %> </h1>
      <h2><%= @day %> </h2>
    </hgroup>
  </header>
  <div id="main">
    <%= yield %>
  </div>
</body>
</html>
