<a href="/">戻る</a>
<table border="0">
  <% @rows.each do |r|%>
    <% unless r.nil? %>
      <tr>
        <td><font color="red"><%= r[:user] %></font></td>
        <td><%= r[:content] %></td>
        <td><%= r[:date] %></td>
      </tr> 
    <% end %>
  <% end %>
</table>
